footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/**********--------------VENTAS--------------**********/

.td-nombre{
    width: 400px;
}

.td-cantidad{
 width: 100px;
}

.td-cantidad input{
 text-align: right;
}

/**********--------------VENTAS--------------**********/